*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Ralewey", sans-serif;
}

body{
    height: 100vh;
    background: linear-gradient(135deg, #8052ec, #d161ff);
}

html{
    font-size: 16px;
}

.wrapper{
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}

.container{
    width: 70vmin;
    height: 70vmin;
    display: flex;
    flex-wrap: wrap;
    gap: 2vmin;
}

.button-option{
    background: #ffffff;
    height: 22vmin;
    width: 22vmin;
    border: none;
    border-radius: 8px;
    font-size: 12vmin;
    color: #d161ff;
    box-shadow: 0 0 15px rgba(0,0,0,0.1);
}

#restart{
    font-size: 1.2em; /* Tamanho de fonte responsivo */
    margin-top: 1.5em;
    padding: 1em 0.5em;  /* Preenchimento responsivo */
    border-radius: 8px;
    background-color: #0a0027;
    width: 70%;
    max-width: 150px; /* Largura máxima responsiva */
    height: 15%;
    color: #ffffff;
    border: none;
    position: relative;
    margin: 1em auto 0 auto; /* Margem responsiva */
    display: block;
    cursor: pointer;
    transition: background-color 0.3s ease; /* Transição suave de cor de fundo */
}

.popup {
    text-align: center; /* Centralizar conteúdo horizontalmente */
}

.popup p{
    margin-bottom: 10px; /* Espaço entre a mensagem e o botão */
}

.popup button {
    display: block; /* Tornar o botão um elemento de bloco para ocupar a largura disponível */
    width: 100%; /* Ocupar toda a largura disponível */
    max-width: 200px; /* Largura máxima para evitar que o botão fique muito largo */
    margin: 0 auto; /* Centralizar o botão horizontalmente */
    padding: 10px;
    font-size: 16px;
    background-color: #0a0027;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease; /* Efeito de transição suave na cor de fundo */
}

.popup button:hover {
    background-color: #0a0027f1; /* Cor de fundo ao passar o mouse */
}

#new-game {
    font-size: 1.3em;
    margin-top: 1.5em;
    padding: 1em 0;
    border-radius: 8px;
    background-color: #0a0027;
    width: 25%;
    height: 15%;
    color: #ffffff;
    border: none;
    position: relative;
    margin: 1.5em auto 0 auto;
    display: block;
}

#new-game:hover {
    background-color: #0a0027dc;
}


#message {
    text-align: center; /* Centralizar o texto dentro do elemento */
    padding: 10px;
    font-size: 18px;
    margin-bottom: 20px; /* Espaço entre a mensagem e o botão */
}

#new-game {
    display: block; /* Tornar o botão um elemento de bloco para ocupar a largura disponível */
    width: 100%; /* Ocupar toda a largura disponível */
    max-width: 300px; /* Largura máxima para evitar que o botão fique muito largo */
    margin: 0 auto; /* Centralizar o botão horizontalmente */
    padding: 10px;
    font-size: 16px;
    background-color: #0a0027;
    color: #fff;
    border: none;
    border-radius: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease; /* Efeito de transição suave na cor de fundo */
}

#new-game:hover {
    background-color: #0a0027ee; /* Cor de fundo ao passar o mouse */
}


.popup.hide{
    display: none;
}